

.wu-current-conditions {

	.wu-day-title {
		float: left;
		font-size: 80px;
		font-weight: 100;
		font-family: verblight, sans-serif;
		white-space: nowrap;
		width: 50%;

		sup {
			top: auto;
			z-index: 1;
			position: relative;
		}

		// Position "C" or "F" under the °
		small {
			margin-left: -45px;
			font-size: 20px;
		}
	}

	.wu-cond-text,
	.wu-cond-icon {
		float: right;
		clear: right;
		width: 50%;
		overflow: hidden!important;
		text-align: center;
		margin: 0!important;
		line-height: 1.2em!important;
	}

	.wu-cond-icon img {
		max-width: 100%;
	}

}
