@font-face {
	font-family: "verblight";
	src: url("../fonts/VerbLight-webfont.eot");
	src: url("../fonts/VerbLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/VerbLight-webfont.woff") format("woff"), url("../fonts/VerbLight-webfont.ttf") format("truetype"), url("../fonts/VerbLight-webfont.svg#fontcustom") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "verb";
	src: url("../fonts/VerbRegular-webfont.eot");
	src: url("../fonts/VerbRegular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/VerbRegular-webfont.woff") format("woff"), url("../fonts/VerbRegular-webfont.ttf") format("truetype"), url("../fonts/VerbRegular-webfont.svg#fontcustom") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "verbbold";
	src: url("../fonts/VerbBold-webfont.eot");
	src: url("../fonts/VerbBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/VerbBold-webfont.woff") format("woff"), url("../fonts/VerbBold-webfont.ttf") format("truetype"), url("../fonts/VerbBold-webfont.svg#fontcustom") format("svg");
	font-weight: bold;
	font-style: normal
}
