.wu-wrapper table {

	// Replace cellspacing
	border-collapse: collapse;
	border-spacing: 0;

	border: none;

	* {
		border: none;
		vertical-align: top;
	}

	th,
	td {
		padding: 9px 5px;
	}

	td.wu-icon {

		width: 60px;
	}

	&.wu-table-1 th {
		width: 100%
	}

	&.wu-table-vertical th,
	&.wu-table-3 th {
		width: 33.3333%
	}

	&.wu-table-4 th {
		width: 25%
	}

	&.wu-table-5 th {
		width: 20%
	}

	tr.even,
	tr.alt,
	tr:nth-of-type(even) {
		background: #f7f7f7;
	}

}
