@font-face {
  font-family: "verblight";
  src: url("//fonts.wxug.com/fonts/VerbLight-webfont.eot");
  src: url("//fonts.wxug.com/fonts/VerbLight-webfont.eot?#iefix") format("embedded-opentype"), url("//fonts.wxug.com/fonts/VerbLight-webfont.woff") format("woff"), url("//fonts.wxug.com/fonts/VerbLight-webfont.ttf") format("truetype"), url("//fonts.wxug.com/fonts/VerbLight-webfont.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "verb";
  src: url("//fonts.wxug.com/fonts/VerbRegular-webfont.eot");
  src: url("//fonts.wxug.com/fonts/VerbRegular-webfont.eot?#iefix") format("embedded-opentype"), url("//fonts.wxug.com/fonts/VerbRegular-webfont.woff") format("woff"), url("//fonts.wxug.com/fonts/VerbRegular-webfont.ttf") format("truetype"), url("//fonts.wxug.com/fonts/VerbRegular-webfont.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "verb";
  src: url("//fonts.wxug.com/fonts/VerbBold-webfont.eot");
  src: url("//fonts.wxug.com/fonts/VerbBold-webfont.eot?#iefix") format("embedded-opentype"), url("//fonts.wxug.com/fonts/VerbBold-webfont.woff") format("woff"), url("//fonts.wxug.com/fonts/VerbBold-webfont.ttf") format("truetype"), url("//fonts.wxug.com/fonts/VerbBold-webfont.svg#fontcustom") format("svg");
  font-weight: bold;
  font-style: normal;
}
/**
 * Reset CSS mixin
 */
.wu-forecast-wrapper {
  line-height: 1;
  /* HTML5 display-role reset for older browsers */
  clear: both;
  float: left;
  width: 100%;
  font-family: verblight, verb, sans-serif;
  font-weight: 100;
}
.wu-forecast-wrapper * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.wu-forecast-wrapper article,
.wu-forecast-wrapper aside,
.wu-forecast-wrapper details,
.wu-forecast-wrapper figcaption,
.wu-forecast-wrapper figure,
.wu-forecast-wrapper footer,
.wu-forecast-wrapper header,
.wu-forecast-wrapper hgroup,
.wu-forecast-wrapper menu,
.wu-forecast-wrapper nav,
.wu-forecast-wrapper section {
  display: block;
}
.wu-forecast-wrapper ol,
.wu-forecast-wrapper ul {
  list-style: none;
}
.wu-forecast-wrapper blockquote,
.wu-forecast-wrapper q {
  quotes: none;
}
.wu-forecast-wrapper blockquote:before,
.wu-forecast-wrapper blockquote:after,
.wu-forecast-wrapper q:before,
.wu-forecast-wrapper q:after {
  content: '';
  content: none;
}
.wu-forecast-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wu-forecast-wrapper div {
  margin-bottom: 5px;
}
.wu-simple-forecast-day {
  float: left;
  width: 215px;
  text-align: right;
}
.wu-day-title {
  font-family: verb, sans-serif;
  color: #777;
}
.wu-cond-highlow {
  margin-top: 5px;
  font-size: 0.9375rem;
  color: #999;
}
.wu-cond-highlow .wu-cond-high {
  padding-right: .5em;
}
.wu-cond-highlow .wu-cond-split {
  position: absolute;
  left: -9999px;
  color: #ccc;
}
.wu-cond-icon {
  float: right;
  margin-left: 5px;
}
.wu-cond-pop {
  display: none;
}
